<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="generateWithIfTest" value="true" />
        <option name="mybatisGeneratorMapperSuffix" value="Dao" />
        <option name="tempFilePath" value="/var/folders/4k/05r9yhcd2b166ffyldz5pq5r0000gn/T/startLearnGo-darwin-10.6-amd64.dylib13497109537889659486" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>