<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="mybatisGeneratorMapperSuffix" value="Dao" />
        <option name="userMacSet">
          <set>
            <option value="00-1C-42-00-00-09" />
            <option value="00-E0-4C-6A-C9-DD" />
            <option value="12" />
            <option value="88-E9-FE-87-B3-25" />
          </set>
        </option>
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>